<div class="screen-command">
  <div class="command-header">
    <span class="term-bold">{{hostname}}</span>
    <span class="term-dim"> - {{localize "ITERM.Command.Ready"}}</span>
  </div>
  <div class="command-separator">────────────────────────────────────────</div>
  <div class="screen-output command-output">
  </div>
</div>
