<div class="screen-countdown">
  <div class="countdown-container">
    <div class="countdown-label term-dim">{{label}}</div>
    <div class="countdown-time">{{timeDisplay}}</div>
    <div class="countdown-status term-dim">PAUSED</div>
  </div>
</div>
