<div class="screen-crash crash-{{preset}}">
  <div class="crash-header">
    <div class="crash-icon">&#x26A0;</div>
    <div class="crash-title">{{title}}</div>
    <div class="crash-code term-dim">[{{code}}]</div>
  </div>
  <div class="crash-lines screen-output">
  </div>
</div>